body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14pt;
	color:#333;
	line-height:1.5em;
}

h1, h2, h3 {
	font-weight: bold;
	margin: 1.5em 0 0.5em 0;
	color:#333;
}
 
h1 {
    padding-bottom: 20px;
    border-bottom: 1px solid #DDD;    	
}

.footer {
	margin-top: 40px;
	padding-top: 20px;
    border-top: 1px solid #DDD;  
    font-size: 12px;
    text-align: right;
}



.menu {
	background-color: #F7F7F7; 
	border-right: silver 1px solid; 
	border-top: silver 1px solid; 
	border-left: silver 1px solid; 
	border-bottom: silver 1px solid;
	margin: 20px 0 50px 0;
	width: 500px;
}

.menu a {
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}

.menuItems
{
	line-height:1.4;
}

.code
{
	color:black;
	margin-left:25px;
	border-left: solid 8pt #E8EFFA;
}

.syntax
{
	margin-left:25px;
}

.important
{
	color:#CC0000;
}

.keyword
{
  color:rgb(74,77,255);
}

.literal
{
  color:rgb(0,130,132);
}

.comment
{
  color:rgb(0,195,0);
}

.paramlist {
  border: 0px;
}

.paramlist tbody tr:nth-child(even) {
  background-color: #E9EEF0;
}

.paramlist th {
  text-align: left;
  padding: 3px 7px;
}

.paramlist td {
  text-align: left;
  padding: 3px 7px;
}
